examples/Simple object parse.json
[{"id":"819a6dc5.6771e","type":"inject","z":"5051cb93.cf0d34","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":770,"y":560,"wires":[["153983e4.bce93c"]]},{"id":"377eb218.a1db8e","type":"binary","z":"5051cb93.cf0d34","name":"","property":"payload","pattern":"b8 => batt, \nb32f => temp, \nb16{b3 => type, x7, -b6 => count},\nb8[4]|str(\"ascii\") => name","x":1050,"y":440,"wires":[["d3ae52ca.c1fe7"]]},{"id":"d3ae52ca.c1fe7","type":"debug","z":"5051cb93.cf0d34","name":"","active":true,"console":"false","complete":"false","x":1210,"y":440,"wires":[]},{"id":"153983e4.bce93c","type":"function","z":"5051cb93.cf0d34","name":"create test buffer","func":"msg.payload = new Buffer.from([ 228, 133, 154, 195, 65, 0x40, 0x0f, 0x41, 0x42, 0x43, 0x44 ]);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":560,"wires":[["377eb218.a1db8e"]]},{"id":"b35b5ceb.e681b","type":"inject","z":"5051cb93.cf0d34","name":"simple sensor object","topic":"","payload":"{ \"batt\": 240, \"temp\": 22.5, \"type\": 1,\"count\": 12, \"name\":\"ABCD\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":810,"y":440,"wires":[["377eb218.a1db8e"]]},{"id":"2e685d10.e739a2","type":"comment","z":"5051cb93.cf0d34","name":"parse buffer to msg properties","info":"","x":840,"y":520,"wires":[]},{"id":"a12a12f.39c9df","type":"comment","z":"5051cb93.cf0d34","name":"build buffer from msg properties","info":"","x":850,"y":400,"wires":[]}]