examples/Simple object parse.json
[{"id":"d77f83b.e247d8","type":"inject","z":"5ab56e5e.449a5","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":760,"wires":[["39fb9b52.ea82b4"]]},{"id":"f10a35ec.7e3618","type":"binary","z":"5ab56e5e.449a5","name":"","pattern":"b8 => batt, b32f => temp, b16{b3 => type, x7, -b6 => count}","x":390,"y":640,"wires":[["d7ff2e5f.da504"]]},{"id":"d7ff2e5f.da504","type":"debug","z":"5ab56e5e.449a5","name":"","active":true,"console":"false","complete":"false","x":550,"y":640,"wires":[]},{"id":"39fb9b52.ea82b4","type":"function","z":"5ab56e5e.449a5","name":"create test buffer","func":"msg.payload = new Buffer([ 228, 133, 154, 195, 65, 0x40, 0x0f ]);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":760,"wires":[["f10a35ec.7e3618"]]},{"id":"1a068d4c.d5c9c3","type":"inject","z":"5ab56e5e.449a5","name":"simple sensor object","topic":"","payload":"{ \"batt\": 240, \"temp\": 22.5, \"type\": 1,\"count\": 12 }","payloadType":"json","repeat":"","crontab":"","once":false,"x":150,"y":640,"wires":[["f10a35ec.7e3618"]]},{"id":"2d6fe7e6.63bba8","type":"comment","z":"5ab56e5e.449a5","name":"parse buffer to msg properties","info":"","x":180,"y":720,"wires":[]},{"id":"ee4fdb6e.9f0568","type":"comment","z":"5ab56e5e.449a5","name":"build buffer from msg properties","info":"","x":190,"y":600,"wires":[]}]
