examples/Simple object parse.json
[{"id":"28ccaadf.e4d436","type":"inject","z":"a68cca8a.e5ba98","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":250,"y":1380,"wires":[["5bf6dab0.67cfa4"]]},{"id":"7d5691b6.9e503","type":"binary","z":"a68cca8a.e5ba98","name":"","pattern":"b8 => batt, \nb32f => temp, \nb16{b3 => type, x7, -b6 => count}","x":530,"y":1260,"wires":[["7141ae4a.463e3"]]},{"id":"7141ae4a.463e3","type":"debug","z":"a68cca8a.e5ba98","name":"","active":true,"console":"false","complete":"false","x":690,"y":1260,"wires":[]},{"id":"5bf6dab0.67cfa4","type":"function","z":"a68cca8a.e5ba98","name":"create test buffer","func":"msg.payload = new Buffer.from([ 228, 133, 154, 195, 65, 0x40, 0x0f ]);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1380,"wires":[["7d5691b6.9e503"]]},{"id":"68430c86.809744","type":"inject","z":"a68cca8a.e5ba98","name":"simple sensor object","topic":"","payload":"{ \"batt\": 240, \"temp\": 22.5, \"type\": 1,\"count\": 12 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":290,"y":1260,"wires":[["7d5691b6.9e503"]]},{"id":"61b95aa4.b77134","type":"comment","z":"a68cca8a.e5ba98","name":"parse buffer to msg properties","info":"","x":320,"y":1340,"wires":[]},{"id":"673230de.2992","type":"comment","z":"a68cca8a.e5ba98","name":"build buffer from msg properties","info":"","x":330,"y":1220,"wires":[]}]
